* {
margin: 0;
padding: 0;    
}

#pofile{
    width: 140px;
    height: 140px;
    background-color: #000;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    border: 4px solid rgb(126, 205, 231);
    transition: all 0.5s;
    cursor: pointer;
}

body{
    background-image: url("universe.jpg");
    font-family: Poppins;   
    text-align: center;
    
}

.MeuLinks{
    font-size: 35px; 
    line-height: 3.5em;
    transition: all 0.5s;
    cursor: pointer;
    color: #FFF;
}

#dados1{
    line-height: 2.0em;
    background-image: linear-gradient(to right, rgba(32, 16, 255, 0.76), rgb(4, 12, 54)); 
    border-radius: 20%;
    padding: 15px 90px;
    text-align: relative;
    text-decoration: none;
    display: inline-block;
    font-family: Poppins;
    color: rgb(126, 205, 231);
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
}

#dados2{
    line-height: 2.0em;
    background-image: linear-gradient(to right, rgba(32, 16, 255, 0.76), rgb(4, 12, 54)); 
    border-radius: 20%;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Poppins;
    color: rgb(126, 205, 231);
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
}

#dados3{
    line-height: 2.0em;
    background-image: linear-gradient(to right, rgba(32, 16, 255, 0.76), rgb(4, 12, 54)); 
    border-radius: 20%;
    padding: 15px 105px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Poppins;
    color: rgb(126, 205, 231);
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
}

#dados4{
    line-height: 2.0em;
    background-image: linear-gradient(to right, rgba(32, 16, 255, 0.76), rgb(4, 12, 54)); 
    border-radius: 20%;
    padding: 15px 110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Poppins;
    color: rgb(126, 205, 231);
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
}

.developed{
    font-family: Poppins;
    color: #FFF;
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
}

#pofile:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

#dados1:hover{
    background-image: linear-gradient(to right, rgba(31, 5, 65, 0.76), rgb(6, 22, 102)); 
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    -webkit-transform: scale(1.5);
    transform: scale(1.2);
}

#dados2:hover{
    background-image: linear-gradient(to right, rgba(31, 5, 65, 0.76), rgb(6, 22, 102)); 
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    -webkit-transform: scale(1.5);
    transform: scale(1.2);
}

#dados3:hover{
    background-image: linear-gradient(to right, rgba(31, 5, 65, 0.76), rgb(6, 22, 102));
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));  
    -webkit-transform: scale(1.5);
    transform: scale(1.2);
}

#dados4:hover{
    background-image: linear-gradient(to right, rgba(31, 5, 65, 0.76), rgb(6, 22, 102));
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));  
    -webkit-transform: scale(1.5);
    transform: scale(1.2);
}

.developed:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));  
    -webkit-transform: scale(1.5);
    transform: scale(1.2);
}